body {
  text-align: center;
}

* {
  list-style: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#updateItem * {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#item li {
  color: black;
  cursor: default;
}

#item li:hover {
  color: black;
  cursor: default;
}

button {
  color: black;
  margin-top: 24px;
}

#delete {
  padding: 4px 4px 4px 4px;
  margin-left: 24px;
}
