body {
  padding: 50px;
  font-size: 0px;
  padding: 0px 0px 0px 0px;
  background-color: #CECEFF;
  min-width: 412px;
}

a {
  color: #00B7FF;
}

.jumbotron,  #addProduct *{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.jumbotron label {
  padding: 0px 0px 0px 0px;
}

.jumbotron input {
  padding-left: 0px;
  padding-right: 0px;
}

.no-select {  /*Prevents the user from selecting text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Hides number spinner in Non-Firefox browsers*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Hides number spinner in Firefox*/
input[type=number], input[type=date] {
  -moz-appearance:textfield;
}

input:focus {
  outline: 0px;
}

#productList {
  list-style: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#productList li:hover {
  color: blue;
  cursor: pointer;
}

#productList p {
  display: inline-block;;
}

#totalCost {
  text-align: center;
  margin-bottom: 24px;
}

#totalCost * {
  padding: 0px 0px 0px 0px;
  margin: 0px 2px 0px 2px;
  display: inline-block;
}
